/* .login                           { background: #fff url('./images/login-bg.jpg') center center no-repeat; background-size: cover; } */
.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px;
	width: 500px;
	background: #fafafa;
	box-shadow: 0 0 8px #333;
}
/* .login-box h2                    { margin: 0; padding: 4px 6px; background: url('./images/backgrounds.png') 0 -384px repeat-x; color: #fff; font-family: 'OpenSansSemibold'; font-size: 16px; text-shadow: -1px 0px 1px #e37220; font-weight: normal; border: solid 1px; border-color: #e5710c; }  */
.login-box-body {
	padding: 0;
	border: solid 1px #ccc;
	border-top: 0;
}
.login-box-content {
	padding: 20px 10px 10px 10px;
}
.login-box label {
	width: 120px;
}
.login-box input[type='submit'] {
	min-width: 80px;
	font-size: 12px;
	display: inline-block;
	padding: 5px 10px 7px 10px;
	margin: 0 0 1px 6px;
	border: solid 1px;
	border-radius: 3px;
	border-color: #585653 #3d3b38 #3d3b38 #3d3b38;
	color: #fff8eb;
	background: #595754;
	background: -moz-linear-gradient(top, #86837d, #64625d 50%, #595754 50%, #44423e);
	background: -webkit-linear-gradient(top, #86837d, #64625d 50%, #595754 50%, #44423e);
	background: -moz-linear-gradient(top, #86837d, #64625d 50%, #595754 50%, #44423e);
	background: -o-linear-gradient(top, #86837d, #64625d 50%, #595754 50%, #44423e);
	background: -ms-linear-gradient(top, #86837d, #64625d 50%, #595754 50%, #44423e);
	background: linear-gradient(top, #86837d, #64625d 50%, #595754 50%, #44423e);
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border 0.05s linear;
	-webkit-transition: border 0.05s linear;
	transition: border 0.05s linear;
	overflow: visible;
	box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3) inset;
}
.login-box input[type='submit']:active {
	box-shadow: 1px 1px 3px #403d3a inset, 0 -1px 3px #312f2b inset;
}
.login-box .loginErr {
	padding: 0 0 10px 134px;
}
.login-box .browserErr {
	margin: 0 20px 20px 20px;
	display: none;
	position: relative;
	border: solid #ccc 1px;
} /* .login-box .browserErr .iconLrg  { position: absolute; left: 15px; top: 15px; width: 48px; height: 48px;background: url('./images/failure.png') center center no-repeat; } */
.login-box .browserErr .msg {
	margin-left: 68px;
	padding: 15px;
}
.login-box .buttonWrpr {
	padding: 10px;
	background: #efefef;
	border-top: solid #ddd 1px;
	overflow: auto;
}
.login-box .buttons {
	float: right;
}
.err-box {
	border: solid #f78a2f 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px;
	width: 500px;
	background: #fafafa;
	box-shadow: 0 0 8px #333;
}
.err-box-content {
	padding: 20px 20px;
	border-bottom: solid #ccc 1px;
}
.err-box-content h1 {
	color: #f79c49;
	font-size: 54px;
	height: 80px;
	line-height: 80px;
	margin: 0;
	padding: 0;
}
.err-box.offline .err-box-content h1 {
	font-size: 42px;
	font-weight: normal;
}
.err-box-content p {
	color: #666666;
	font-size: 1.3em;
	line-height: 2em;
	padding: 10px 0 0 0;
	margin: 0;
}
.err-box-content a {
	padding: 20px 0 0 0;
	display: block;
}
.err-box-footer {
	padding: 20px;
}
.err-box .groove {
	clear: both;
	height: 0;
	margin-top: 20px;
	border-top: solid 1px #ccc;
} /* .logout                           { background: #fff url('./images/login-bg.jpg') center center no-repeat; background-size: cover; } */
.logout-box {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px;
	width: 500px;
	background: #fafafa;
	box-shadow: 0 0 8px #333;
} /* .logout-box h2                    { margin: 0; padding: 4px 6px; background: url('./images/backgrounds.png') 0 -384px repeat-x; color: #fff; font-family: 'OpenSansSemibold'; font-size: 16px; text-shadow: -1px 0px 1px #e37220; font-weight: normal; border: solid 1px; border-color: #e5710c; } */

.logout-box-body {
	font-size: 1.5em;
	padding: 30px 20px;
	text-align: center;
}
.logout-box .buttonWrpr {
	padding: 10px;
	background: #efefef;
	border-top: solid #ddd 1px;
	overflow: auto;
}
.logout-box .buttons {
	float: right;
}
